* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: absolute;
    left: 25%;
    top: 30%;
    width: 50vw;
    height: 400px;
    overflow: hidden;
}

.slider-inner {
    position: absolute;
    top: 37%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    pointer-events: none;
    transition: 0s ease-in;
}

.slide-img {
    height: 100%;
    background-color: black;
    text-align: center;
    padding: 3rem;
    width: 200px;
    border-radius: 10px;
}