* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40vw;
    height: 400px;
    overflow: hidden;
}

.slider-inner {
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    pointer-events: none;
    transition: 0s ease-in;
    align-items: center;
}

.slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    background-color: black;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
}

.project-images {
    border-radius: 10px;
    max-width: 8.3em;
    max-height: 9em;
}